<footer class="bg-fondo sm:flex sm:items-center sm:justify-between flex-col p-4 sm:p-6 xl:p-8 antialiased gap-5">
    <div class="mx-auto max-w-screen-xl sm:w-[1250px] sm:flex sm:items-center sm:justify-between mb-5">
        <a href="/" class="hidden sm:flex items-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/HADA%2Fhada.png?alt=media&token=ff7fbaec-8c4e-4247-9c99-3ee31f1dfabf"
                class="mr-3 h-6 sm:h-9" alt="HADDA Logo" />
            <span class="self-center text-xl font-bold whitespace-nowrap text-primary">HADA</span>
        </a>
        <div class="flex flex-col items-start gap-2">
            <h5 class="text-xl font-medium text-primary">Políticas</h5>
            <a href="#" class="hover:underline cursor-pointer mb-4 text-white sm:mb-0">Términos y Condiciones</a>
            <a href="#" class="hover:underline cursor-pointer mb-4 text-white sm:mb-0 ">Políticas de Privacidad</a>
        </div>
        

        <div class="flex items-center lg:order-2">
            <a href="#"
                class="text-primary dark:text-white border border-solid border-primary rounded-lg sm:text-[0.9rem] text-[0.6rem] px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">
                CONTÁCTANOS
            </a>
            <a href=""
                class="text-black bg-primary font-medium rounded-lg sm:text-[0.9rem] text-[0.6rem] px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">
                INGRESAR
            </a>
        </div>
    </div>
    <div>
        <p class="mb-4 text-sm text-center text-white sm:mb-0">
            <a href="https://coderlabs.co/" class="hover:underline" target="_blank">CoderLabs SAS</a> © 2024 | Todos los derechos reservados.
        </p>
    </div>
</footer>
