<div class="mb-5 overflow-hidden ani sm:h-[40px] sm:hover:h-[100px]">
    <div class="flex items-center justify-between mb-2 border-b pb-2 border-[#ffffff0a]">

        <h3 class="flex items-center sm:text-lg font-medium text-white">
            <svg [class.hover-state]="hoverState" class="hidden sm:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #FFF;">
                <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
            </svg>
            {{ask}}
        </h3>
    </div>
    <p class="text-white font-light">
        {{answer}}
    </p>

</div>