<header>
    <nav class="bg-fondo border-gray-200 px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/fb-picporter.appspot.com/o/HADA%2Fhada.png?alt=media&token=ff7fbaec-8c4e-4247-9c99-3ee31f1dfabf"
                    class="mr-3 h-6 sm:h-9" alt="HADDA Logo" />
                <span class="self-center text-xl font-bold whitespace-nowrap text-primary">HADA</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="#"
                    class="text-primary dark:text-white border border-solid border-primary rounded-lg sm:text-[0.9rem] text-[0.6rem] px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">
                    CONTÁCTANOS
                </a>
                <a href="https://app.hadaseguridad.com/"
                    class="text-black bg-primary font-medium rounded-lg sm:text-[0.9rem] text-[0.6rem] px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">
                    INGRESAR
                </a>
            </div>
        </div>
    </nav>
</header>